# This file is read by direnv (https://direnv.net/) and uses BASH syntax.

# Simulate `poetry shell` without spawning a new sub-shell
source .venv/bin/activate
PATH_add .venv/bin

# Load .env file if it exsts
if [ -e .env ]; then
    dotenv
fi
